<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bwmx.tool" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="卑微萌新的第一个模块\n用于配合点歌脚本发送卡片使用\n适配QQ\n8.8.68-8.8.90,8.9.5-8.9.15\n请勿倒卖或用于违法违禁行为" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>